@font-face {
	font-family: Roboto;
	src: local('RobotoRegular'), local('Roboto-Regular'),
		url(../fonts/roboto-regular.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: Roboto;
	src: local('RobotoLight'), local('Roboto-Light'),
		url(../fonts/roboto-light.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: Roboto;
	src: local('RobotoMedium'), local('Roboto-Medium'),
		url(../fonts/roboto-medium.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: Roboto;
	src: local('RobotoBold'), local('Roboto-Bold'), url(../fonts/roboto-bold.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: Roboto;
	src: local('RobotoBoldItalic'), local('Roboto-Bold-Italic'),
		url(../fonts/roboto-bolditalic.woff);
	font-display: swap;
	font-style: italic;
	font-weight: 900;
}
:root {
	--color-bg-dark: #121212;
	--color-bg: #191919;
	--color-highlight: #b78313;
	--gap-large: 50px;
	--gap-med: 30px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*,
html,
body {
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	min-height: 100vh;
}
body {
	font-family: Roboto, sans-serif;
	flex: 1;
	margin: 0;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.5;
	color: #9e9e9e;
	text-align: left;
	background-color: #131212;
	overflow-x: hidden;
}
.list-reset {
	list-style: none;
}
.link-reset,
.btn-reset,
.header__logo img,
.nav-list__link,
.nav-list__link::after,
.play-link,
.hero__btn,
.hero__btn-img,
.gallery-item__img,
.media-filters__btn,
.img-wrap,
.featured-item__img,
.policy-links__link::after,
.link-list__link::after,
.cta__btn,
.cta__btn-img {
	transition: all 0.3s ease-out;
}
.filter-btn,
.news-item__btn,
.more-btn {
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.link-reset {
	color: currentColor;
	text-decoration: none;
	outline: 0;
	cursor: pointer;
}
.btn-reset {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.wrap,
.content-wrap {
	width: 100%;
	margin: 0 auto;
}
.wrap {
	position: relative;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.content-wrap,
.news-wrap {
	max-width: 1700px;
	padding: 0 var(--gap-large);
}
.hidden {
	visibility: hidden;
	opacity: 0;
	font-size: 0;
}
.splide {
	align-content: center;
	align-items: center;
}
.splide__arrows {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-self: center;
	margin-top: var(--gap-large);
}
.splide__arrow {
	position: static;
	background-color: transparent;
}
.splide__arrow--prev {
	transform: scale(-1);
}
.splide__arrow svg {
	width: 38px;
	height: 64px;
	/* fill: rgb(246, 116, 29); */
}
.not_active {
	border-style: solid;
	border-width: 7px;
	border-color: #000;
	border-radius: 19px;
	background-color: var(--color-bg);
}
.splide-navigation {
	width: 40%;
}
.splide__arrow {
	width: 40px;
	height: 64px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 0;
	transform: none;
}
.splide__arrow--prev {
	background-image: url('../images/arrow-left.png');
}
.splide__arrow--next {
	background-image: url('../images/arrow-right.png');
}
.splide__pagination {
	position: static;
	justify-content: space-evenly;
}
.news__item.invisible {
	width: 0;
	height: 0;
	padding: 0;
	font-size: 0;
	opacity: 0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px var(--gap-large);
	background-color: #000;
}
.header__wrap {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	justify-self: center;
	width: 80%;
	max-width: 1700px;
}
.header__logo {
	display: inline-block;
	margin-right: auto;
}
.header__logo-img {
	width: 90px;
}
.nav {
	flex-basis: 60%;
	font-size: 24px;
	color: #eee;
}
.burger-container {
	display: none;
}
.nav-list {
	display: flex;
	justify-content: space-evenly;
	overflow: hidden;
	font-weight: 700;
	line-height: 1.2;
}
.nav-list__item:not(:last-child) {
	margin-right: 40px;
}
.nav-list__link {
	position: relative;
	display: inline-block;
	color: #eee;
	text-transform: uppercase;
	z-index: 3;
}
.nav-list__link:not(:last-child) {
	margin-right: 100px;
}
.nav-list__link::after,
.policy-links__link::after,
.link-list__link::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 0;
	backface-visibility: hidden;
}
.nav-list__link::after {
	height: 3px;
	background: #eee;
}
.policy-links__link::after {
	height: 2px;
	background: rgb(158, 158, 158);
}
.link-list__link::after {
	height: 2px;
	background: #eee;
}
.play-link {
	width: 123px;
	margin-left: auto;
	padding: 1px;
	line-height: 0;
}

/* hero */
.hero {
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1200px;
	background-image: url('../images/main.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 90%;
}
@supports (background-image: -webkit-image-set(url('../images/main.webp') 1x)) {
	.hero {
		background-image: -webkit-image-set(url('../images/main.webp') 1x);
	}
}
.hero__img {
	z-index: -1;
}
.hero__btn-container {
	margin-top: 42%;
	margin-bottom: 70px;
}
.hero__btn,
.hero__btn-img {
	width: 256px;
	height: 76px;
}
.hero__btn:not(:last-child) {
	margin-right: var(--gap-med);
}

.hero__btn-img {
	border-radius: 15px;
	box-shadow: 0px -3px 0px 0px #ffc31f;
}

/* featured news*/
.featured-news__splide {
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
.section-heading {
	font-weight: 900;
	font-style: italic;
	font-size: 2rem;
	letter-spacing: 0.02em;
	color: #eee;
	text-transform: uppercase;
	text-align: center;
}
.featured-news__heading {
	justify-self: flex-end;
	margin-top: auto;
	margin-bottom: var(--gap-med);
}
/* .featured-news__splide {
	width: 85vw;
} */
.featured-news__track,
.featured-news__list {
	width: 100%;
}
.featured-news__track {
	padding: 10px 45px 0 !important;
}
.featured-news__list {
	margin: 0 auto !important;
}
.img-wrap,
.featured__item {
	box-sizing: content-box;
	position: relative;
	height: 333px !important;
	background-color: var(--color-bg);
	border-width: 7px;
	border: 7px solid #000;
	border-radius: 19px;
	margin-bottom: 15px;
}
.featured-item__img {
	width: 100%;
	height: inherit;
	border-radius: 19px;
	object-fit: cover;
	object-position: 40% 100%;
}
.featured-item__link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 0;
}
.img-wrap::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: -11px;
	border-radius: 20px;
	background-clip: padding-box;
	background-color: var(--color-bg);
	background: transparent;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.featured-item__heading {
	color: #9e9e9e;
	font-size: 1.5vw;
	line-height: 1.2;
	text-align: center;
}
.featured-news__item.is-active > .featured-item__wrap > .img-wrap::before {
	background: linear-gradient(to top, #f74600, #f8cf42);
}
.featured-news__navigation {
	position: static;
	align-self: center;
	width: 70%;
	margin: 0 auto;
}
.featured-news__pagination {
	flex-wrap: nowrap;
}
.featured-news__pagination > li:not(:last-child) {
	margin-right: 15px;
}

.splide__pagination__page.splide__pagination--custom {
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 0;
	background-color: transparent;
	background-image: url('../images/pagination-bullit.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: background-image 0.2s ease-out;
}
.splide__pagination__page.splide__pagination--custom.is-active {
	background-image: url('../images/pagination-bullit-active.png');
}

/* promo */
.promo {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: start;
	justify-items: start;
	width: 100%;
	height: 870px;
}
.promo__video-wrap {
	position: relative;
	width: 1000px;
	height: 90%;
	background-image: url('../images/gold-frame-preview.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
@supports (
	background-image: -webkit-image-set(url('../images/gold-frame-preview.webp')
				1x)
) {
	.promo__video-wrap {
		background-image: -webkit-image-set(
			url('../images/gold-frame-preview.webp') 1x
		);
	}
}
.promo__video-preview {
	max-width: 1100px;
	object-fit: contain;
}
.promo__playbtn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	background-image: url('../images/playbtn.png');
	background-repeat: no-repeat;
	background-size: contain;
	transform: translate(-50%, -50%);
}
.promo__img {
	position: absolute;
	right: 0;
	bottom: 90px;
	width: 50%;
}
/* game features */
.game-features {
	width: 100%;
	height: 950px;
	margin: 0 auto;
	padding-top: var(--gap-large);
	background-image: url('../images/fire-frame.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 0;
}
@supports (
	background-image: -webkit-image-set(url('../images/fire-frame.webp') 1x)
) {
	.game-features {
		background-image: -webkit-image-set(url('../images/fire-frame.webp') 1x);
	}
}
.game-features__content {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 810px;
	margin: 0 auto;
}
.game-features__track {
	max-width: 780px;
	height: auto;
}
.game-features__slide {
	padding-top: 40px;
}
.game-features__slide img {
	height: 90% !important;
}
.game-features__navigation {
	position: static;
	margin: 0 auto;
	width: max-content;
}
.game-features__arrows {
	margin-top: 0;
}
.game-features__pagination {
	margin-left: 40px;
	margin-right: 40px;
}
.game-features__pagination > li:not(:last-child) {
	margin-right: 20px;
}
.game-features__img {
	display: none;
	z-index: -1;
}
/* call to action (cta) */
.cta {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--gap-large);
}
.cta__heading {
	margin-bottom: var(--gap-med);
}
.cta__btn:not(:last-child) {
	margin-right: var(--gap-med);
}
/* footer */
.footer {
	width: 100%;
	margin: auto 0;
	padding: 80px 0;
	background: #000;
}
.footer-links {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: var(--gap-large);
}
.footer-links__item {
	width: 86px;
	height: 86px;
	border-radius: 50%;
}
.footer-links__item:not(:last-child) {
	margin-right: var(--gap-med);
}
.footer-links__link {
	display: inline-block;
	width: inherit;
	height: inherit;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.discord {
	background-image: url('../images/discord.png');
}
.instagram {
	background-image: url('../images/instagram.png');
}
.facebook {
	background-image: url('../images/fb.png');
}
.vk {
	background-image: url('../images/vk.png');
}
.reddit {
	background-image: url('../images/reddit.png');
}
.youtube {
	background-image: url('../images/youtube.png');
}
.footer__bottom {
	font-size: 1.4rem;
	color: #9e9e9e;
	text-transform: uppercase;
	line-height: 2;
	text-align: center;
}
.policy-links {
	display: flex;
	justify-content: center;
}
.policy-links__item:not(:last-of-type) {
	margin-right: var(--gap-large);
}
.policy-links__link {
	position: relative;
}
.footer__img {
	position: absolute;
	right: 10vw;
	bottom: 50px;
	width: 300px;
}
/* promo video modal */
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
	font-size: 0;
}
.modal.hidden {
	display: none;
}
.modal__video {
	border-width: 4px;
	border-style: solid;
	border-image: linear-gradient(to top, #f74600, #c0a344) 1;
	width: 640px;
	height: 400px;
	background: #000;
	font-size: 0;
	z-index: 10;
}
.modal__close-btn {
	display: block;
	background: url(../images/closebtn.png) no-repeat 50% 0;
	width: 57px;
	height: 57px;
}
.modal__close-btn:hover {
	filter: contrast(1.3);
}

/* other pages */
.news,
.media-wrap {
	max-width: 1750px;
	margin: 0 auto;
}
/* community */
.community {
	background-image: url('../images/community-bg.png');
	min-height: 100vh;
	padding-top: 55%;
	background-size: contain;
	background-repeat: no-repeat;
}
@supports (
	background-image: -webkit-image-set(url('../images/community-bg.webp') 1x)
) {
	.community {
		background-image: -webkit-image-set(url('../images/community-bg.webp') 1x);
	}
}
.community__wrap,
.media {
	align-items: center;
	width: 80%;
	margin: 0 auto;
	padding: 80px var(--gap-large);
}
.community__heading {
	margin-bottom: 20px;
}
.community__text {
	width: 70%;
	font-size: 1.2rem;
	line-height: 1.5;
	color: #9e9e9e;
	text-align: center;
}
/* media */
.media {
	padding: 0 var(--gap-large) var(--gap-large);
	background-color: var(--color-bg-dark);
}
.media__top {
	height: 350px;
	background-image: url('../images/media-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 -180px;
}
@supports (
	background-image: -webkit-image-set(url('../images/media-bg.webp') 1x)
) {
	.media__top {
		background-image: -webkit-image-set(url('../images/media-bg.webp') 1x);
	}
}
.media__heading {
	padding-top: 200px;
	color: #eee;
}
.filters-wrap {
	width: 100vw;
	margin-bottom: 80px;
	padding: 20px;
	background-color: #000;
	justify-self: flex-start;
}
.media-filters {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 40%;
	margin: 0 auto;
}
.media-filters__item {
	height: 50px;
	padding: 5px;
}
.media-filters__btn {
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.media-filters__btn > svg > g > path {
	transition: fill 0.2s ease-out;
}
.computer {
	width: 54px;
	margin-right: var(--gap-large);
}
.mobile {
	width: 36px;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	margin-bottom: 70px;
}
.gallery__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #eee;
}
.gallery__item.last-shown ~ .gallery__item {
	display: none;
}
.gallery__item.invisible {
	display: none;
}

.gallery-item__img-wrap {
	display: block;
}
.gallery-item__img {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 20px;
	cursor: pointer;
}

.link-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.link-list__item:not(:last-child) {
	border-right: 1px solid;
}
.link-list__link {
	position: relative;
	color: #eee;
	padding: 0 10px;
}
/* news page */
.featured {
	width: 100vw;
	display: flex;
	flex-wrap: nowrap;
	background-image: url('../images/mary_bg.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: right top;
}
@supports (
	background-image: -webkit-image-set(url('../images/mary_bg.webp') 1x)
) {
	.featured {
		background-image: -webkit-image-set(url('../images/mary_bg.webp') 1x);
	}
}
.featured__content-wrap {
	align-items: center;
	justify-content: center;
	width: 760px;
	margin-left: var(--gap-med);
	margin-bottom: var(--gap-med);
	padding: var(--gap-large) 70px 0;
}
.featured__heading {
	margin-bottom: var(--gap-med);
	color: #eee;
	line-height: 1.2;
}
.featured__item {
	width: 100%;
}
.filters {
	width: 100%;
	padding: var(--gap-large) 0;
	text-align: center;
	background-color: #000;
	color: #eee;
}
.more-btn,
.filter-btn {
	font-size: 24px;
	line-height: 1.2;
	text-transform: uppercase;
}
.filter-btn,
.more-btn,
.news-item__btn {
	color: currentColor;
	box-shadow: inset 0 0 0 0 #eee;
	padding: 0 0.25rem;
	margin: 0 -0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.more-btn {
	color: var(--color-highlight);
}
.filter-btn.is-active {
	color: var(--color-highlight);
}
.filter-btn:not(:last-child) {
	margin-right: 40px;
}
.news-list {
	background-color: var(--color-bg-dark);
}
.no-children-container {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: var(--gap-med) 0;
	text-align: center;
}
.news-wrap {
	margin: 0 auto;
}
.news-item {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 60px;
	width: 80%;
	margin: 0 auto;
	padding: 60px 0;
}
.news-item__list-view {
	display: none;
}
.news-item__list-view.shown {
	display: grid;
}
.news-item__img-wrap {
	position: relative;
	height: 333px;
	margin: 20px 0;
	border: 7px solid #000;
	border-radius: 19px;
	background-color: var(--color-bg);
}
.news-item__img-wrap::before {
	content: '';
	position: absolute;
	inset: calc(0px - 7px);
	top: -7px;
	left: -7px;
	right: -7px;
	bottom: -7px;
	border-radius: 15px;
	padding: 3px;
	background: linear-gradient(to top, #f54600, #f8cf42);
	-webkit-mask: linear-gradient(#eee 0 0) content-box, linear-gradient(#eee 0 0);
	mask: linear-gradient(#eee 0 0) content-box, linear-gradient(#eee 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}
.news-item__img {
	width: 100%;
	height: 99.5%;
	border-radius: 19px;
	object-fit: cover;
}
.news-item__content-wrap {
	padding-top: 40px;
}
.news-item__heading {
	margin-bottom: 20px;
	color: #eee;
	text-transform: uppercase;
}
.news-item__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10%;
}
.news-item__btn,
.news-item__meta,
.news-item__text,
.article__text {
	color: #9e9e9e;
}
.news-item__meta,
.news-item__btn {
	font-size: 18px;
	text-transform: uppercase;
}
.news-item__meta {
	display: flex;
}
.news-item__tag {
	margin-right: 20px;
}
.news-item__tag {
	color: var(--color-highlight);
}
/* news article */
.article-container {
	justify-content: flex-end;
	min-height: 100vh;
	margin-bottom: 60px;
	padding: var(--gap-large) 0 100px;
	background-image: url('../images/article-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}
@supports (
	background-image: -webkit-image-set(url('../images/article-bg.webp') 1x)
) {
	.article-container {
		background-image: -webkit-image-set(url('../images/article-bg.webp') 1x);
	}
}
.news-item.article {
	display: block;
	width: 60%;
	padding: var(--gap-large);
	background-color: var(--color-bg-dark);
	border-radius: 70px;
}
.article__inner-wrap {
	align-items: center;
	justify-content: flex-end;
}
.article > .news-item__meta {
	margin-bottom: var(--gap-med);
}
.article__img {
	max-height: 360px;
	margin-bottom: 40px;
}
.article__heading {
	margin-bottom: 20px;
	color: #eee;
	font-size: 28px;
	line-height: 1.2;
}
.article__text {
	width: 80%;
	margin-bottom: var(--gap-med);
	font-size: 18px;
}
.article__link {
	display: inline-block;
	margin: 0 auto;
}
.featured-news__splide.featured-news {
	width: 80vw;
}
.featured-news .img-wrap {
	height: 290px !important;
}
.featured-news .featured-item__heading {
	font-size: 28px;
}
/* links and btns state */
.hero__btn:focus > img,
.cta__btn:focus > img {
	box-shadow: 0px -5px 0px 0px #fdf1cf;
}
.play-link:focus {
	box-shadow: 5px 5px 15px #c98400;
}
.header__logo:focus,
.img-wrap:focus,
.promo__playbtn:focus,
.footer-links__link:focus,
.policy-links__link:focus,
.filter-btn:focus,
.news-item__btn:focus,
.link-list__link:focus,
.gallery-item__img-wrap:focus,
.more-btn:focus,
.featured__content-wrap > .featured__item > .featured-item__img:hover {
	outline: none;
	box-shadow: 0 0 0 2px hsla(41, 81%, 40%, 0.678);
}
.media-filters__btn:focus,
.media-filters__btn:focus {
	outline: none;
}
.media-filters__btn:focus svg > g > path,
.media-filters__btn:focus svg > g > path {
	filter: drop-shadow(0px 2px 4px var(--color-highlight));
}
.nav-list__link:focus {
	outline: 1px solid #c98400;
	outline-offset: 5px;
}
.computer.is-active > svg > g > path,
.mobile.is-active > svg > g > path {
	fill: var(--color-highlight);
}

.header__logo:hover > img,
.hero__btn:hover > img,
.play-link:hover,
.media-filters__btn:hover,
.footer-links__item:hover > .footer-links__link,
.gallery-item__img:hover,
.cta__btn:hover {
	transform: scale(1.1, 1.1);
}
.promo__playbtn:hover {
	transform: translate(-50%, -50%) scale(1.1, 1.1);
}
.img-wrap:hover > img,
.featured__content-wrap > .featured__item > .featured-item__img:hover {
	transform: scale(1.03, 1.03);
}
.link-list__link:hover::after {
	width: 85%;
}
.filter-btn:hover,
.news-item__btn:hover {
	box-shadow: inset 228px 0 0 0 var(--color-highlight);
}
.more-btn:hover,
.filter-btn.is-active:hover {
	color: var(--color-highlight);
	box-shadow: inset 228px 0 0 0 #eee;
}
.news-item__btn:hover {
	color: #eee;
}
.nav-list__link:hover::after,
.policy-links__link:hover::after {
	width: 100%;
}
.header__logo:active,
.media-filters__btn:active > svg,
.link-list__link:active,
.policy-links__link:active {
	outline: none;
	box-shadow: none;
}
.header__logo:active > img,
.hero__btn:active > img,
.play-link:active,
.splide__arrow:active,
.splide__pagination--custom:active,
.promo__playbtn:active .active .promo__playbtn:active,
.gallery-item__img-wrap:active,
.media-filters__btn:active,
.footer-links__item:active > .footer-links__link,
.more-btn:active,
.filter-btn:active,
.news-item__btn:active,
.cta__btn:active > .cta__btn-img {
	transform: scale(0.9, 0.9);
	outline: none;
	box-shadow: none;
}
.link-list__link:active,
.policy-links__link:active {
	color: #eee;
}
.hero__btn:active > img {
	box-shadow: 0px -3px 0px 0px #ffc31f;
}
.play-link:active {
	box-shadow: none;
}

@media screen and (min-width: 2000px) {
	.hero {
		height: 50vw;
		background-size: 75%;
	}
	.hero__btn-container {
		margin-top: 33%;
	}
	.footer__img {
		right: 20vw;
	}
	.featured {
		width: 2100px;
		margin: 0 auto;
	}
	.news-item.article {
		padding: 80px 80px 100px;
	}

	.article__img {
		margin-bottom: 40px;
	}
	.article__heading {
		font-size: 34px;
	}
	.article__text {
		font-size: 24px;
	}
	.article > .news-item__meta {
		font-size: 24px;
	}
	.community {
		background-size: cover;
	}
	.community__wrap {
		max-width: 2000px;
	}
	.comunity__text {
		font-size: 24px;
	}
	.modal__video {
		width: 820px;
		height: 492px;
	}
	.modal__close-btn {
		margin-left: 762px;
	}
}
