@media screen and (max-width: 1690px) {
	.content-wrap,
	.news-wrap,
	.game-features__track {
		max-width: 1400px;
	}
	.nav {
		font-size: 1.6vw;
	}
	.hero {
		height: 900px;
	}
	.img-wrap,
	.hero > .featured__item {
		height: 256px !important;
	}
	.promo__video-wrap {
		width: 850px;
	}
	.promo__img {
		right: -40px;
		bottom: 250px;
		width: 45vw;
	}
	.game-features {
		height: 950px;
	}
	.game-features__track {
		margin-top: -14%;
	}
	.game-features__list {
		transform: translateX(23%);
	}
	.game-features__slide img {
		height: 78% !important;
	}
	.featured-item__heading {
		font-size: 26px;
	}
	.game-features__navigation {
		position: static;
		width: max-content;
		padding-right: 5%;
		transform: translateY(-100px);
	}
	.footer-links__item {
		width: 76px;
		height: 76px;
	}
	.footer__img {
		bottom: 70px;
		width: 250px;
	}
	.footer__bottom {
		font-size: 20px;
	}
	/* news page */
	.featured-section {
		background-size: 65%;
		background-position: right -100%;
	}
}
@media screen and (max-width: 1400px) {
	.content-wrap,
	.news-wrap,
	.game-features__track {
		max-width: 1250px;
	}
	.hero {
		height: 800px;
	}
	.hero__btn-img {
		width: 220px;
		height: auto;
	}
	.img-wrap,
	.hero > .featured__item {
		height: 300px !important;
	}
	.featured-news__item {
		width: 50% !important;
	}
	.promo {
		height: 700px;
	}
	.promo__video-wrap {
		width: 760px;
	}
	.promo__playbtn {
		width: 76px;
		height: 76px;
	}
	.promo__img {
		right: -4vw;
		bottom: 115px;
		width: 42vw;
	}
	.game-features__track {
		margin-top: -19%;
	}
	.game-features__slide img {
		height: 65% !important;
	}
	.game-features__navigation {
		padding-right: 7%;
	}
	.game-features__arrows.splide__arrows {
		margin-top: -20px;
	}
	.splide__arrow {
		width: 36px;
		height: 60px;
	}
	.footer-links__item {
		width: 64px;
		height: 64px;
	}
	.footer__img {
		width: 220px;
		height: auto;
	}
	/* news page */
	.featured-section {
		background-size: 70vw;
	}
	.featured-_heading {
		font-size: 36px;
	}
	.featured__content-wrap {
		width: 55vw;
	}
	/* community */
	.community__text {
		width: 85%;
	}
}
@media screen and (max-width: 1250px) {
	.content-wrap {
		max-width: 1000px;
		padding: 0;
	}
	.news-wrap {
		max-width: 1000px;
	}
	.promo__video-wrap {
		width: 720px;
	}
	.promo__img {
		right: -8vw;
		bottom: 145px;
		width: 41vw;
	}
	.game-features__track {
		width: 1000px;
		margin-top: -29%;
	}
	.game-features {
		position: relative;
		background-image: url('../images/screenframe.png');
		background-size: 90%;
		background-position: center top 0;
	}
	@supports (
		background-image: -webkit-image-set(url('../images/screenframe.webp') 1x)
	) {
		.game-features {
			background-image: -webkit-image-set(url('../images/screenframe.webp') 1x);
		}
	}
	.game-features__slide img {
		height: 85% !important;
	}
	.game-features__navigation {
		padding-right: 0;
		padding-left: 2%;
		transform: translateY(20px);
	}
	.game-features__list {
		transform: translateX(14%);
	}
	.footer__img {
		right: 4vw;
	}
	/* news page */
	.featured-section {
		background-size: 75vw;
	}
	.filter-btn {
		font-size: 24px;
	}
	.news-item {
		width: 100%;
	}
	/* news article */
	.news-item.article {
		width: 65%;
	}
	.article__text {
		width: 90%;
		font-size: 17px;
	}
	/* community */
	.community__wrap {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.community__heading {
		font-size: 28px;
	}
	.community__text {
		font-size: 19px;
	}
	/* media page */
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 1100px) {
	.header__wrap {
		width: 100%;
	}
	.nav {
		font-size: 20px;
	}
	.nav-list__item:not(:last-child) {
		margin-right: 30px;
	}
	.play-link {
		width: 114px;
		height: 37px;
		background-size: contain;
	}
	.content-wrap {
		max-width: 800px;
		padding: 0 25px;
	}
	.hero {
		height: 700px;
	}
	.hero__btn-container {
		margin-top: 55%;
	}
	.featured-news__track {
		margin-top: 60px;
	}
	.img-wrap,
	.hero > .featured__item {
		height: 350px !important;
	}
	.featured-news__item {
		width: 99% !important;
	}
	.promo__img,
	.footer__img {
		display: none;
	}
	.game-features {
		background-size: 100%;
	}
	.game-features__track {
		max-width: 800px;
		margin-top: -35%;
	}
	.game-features__list {
		transform: translateX(9%);
	}
	.game-features__slide img {
		height: 70% !important;
	}
	.game-features__navigation {
		padding-right: 5%;
		transform: translateY(-100px);
	}
	/* news page */
	.featured__item,
	.news-item__img-wrap {
		height: 280px !important;
	}
	.news-item {
		gap: 30px;
	}
	.news-item__content-wrap {
		padding-top: 20px;
	}
	.news-item__text {
		font-size: 16px;
	}
	.news-item__btn {
		font-size: 17px;
	}
	/* media */
	.media__top {
		height: 300px;
	}
	.link-list__link {
		font-size: 17px;
	}
}
@media screen and (max-width: 800px) {
	.header {
		position: relative;
	}
	.burger-container {
		display: block;
		position: relative;
		height: 30px;
		width: 40px;
	}
	.burger-container:hover > .hamburger-lines > .line {
		background-color: rgba(183, 131, 19, 0.541);
	}
	.toggle-menu {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		opacity: 0;
		cursor: pointer;
	}
	.hamburger-lines {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.hamburger-lines .line {
		display: block;
		height: 4px;
		width: 100%;
		border-radius: 10px;
		background: linear-gradient(45deg, #f74600, #ffc15c);
		transition: background 0.3s ease-in-out;
	}
	.hamburger-lines .line .line1,
	.hamburger-lines .line .line2,
	.hamburger-lines .line .line3 {
		transition: transform 0.3s ease-in-out;
	}
	.hamburger-lines.is-active .line1 {
		transform: rotate(-45deg) translate(-5px, 11px);
	}
	.hamburger-lines.is-active .line2 {
		transform: scaleY(0);
	}
	.hamburger-lines.is-active .line3 {
		transform: rotate(45deg) translate(-7px, -14px);
	}
	.nav {
		position: absolute;
		bottom: -268px;
		width: 300px;
		height: auto;
		padding: 30px 40px 20px;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 2;
		transform: translateY(-200%);
		transition: all 0.3s ease-out;
	}
	.nav.is-active {
		transform: none;
	}
	.nav-list {
		flex-direction: column;
	}
	.nav-list__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.hero {
		background-image: url('../images/bg-main-s1.png');
		background-size: cover;
		background-position-y: -200px;
	}
	@supports (
		background-image: -webkit-image-set(url('../images/bg-main-s1.webp') 1x)
	) {
		.heros {
			background-image: -webkit-image-set(url('../images/bg-main-s1.webp') 1x);
		}
	}
	.hero__btn-container {
		margin-top: 80%;
	}
	.hero__btn-img {
		box-shadow: -1px -2px 0px 0px #ffc31f;
	}
	.game-features__track {
		width: calc(100vw - 50px);
		margin-top: -39%;
	}
	.game-features__list {
		transform: translateX(8%);
	}
	.game-features__slide {
		margin-left: 20px !important;
	}
	.game-features__slide img {
		height: 68% !important;
	}
	.game-features__navigation {
		padding-right: 8%;
	}
	.modal__video {
		width: 88vw;
		height: 350px;
	}
	/* news page */
	.featured-section {
		background-image: url('../images/ice.png');
		background-size: contain;
		background-position: 0 bottom;
	}
	.featured__content-wrap {
		width: 98vw;
		margin: 0 auto;
		padding: 50px 30px 20vw;
	}
	.featured__item {
		height: 350px !important;
	}
	.featured__heading {
		font-size: 8vw;
	}
	.filter-btn {
		font-size: 2.5vw;
	}
	.filter-btn:not(:last-child) {
		margin-right: 25px;
	}
	.news-list {
		width: 80%;
	}
	.news-item__list-view {
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
		gap: 20px;
	}
	.news-item__img-wrap {
		margin: 0;
		padding-bottom: 0;
	}
	.news-item__content-wrap {
		padding: 20px 20px 0;
	}
	.news-item__heading {
		text-align: center;
	}
	.news-item__meta {
		margin-bottom: 20px;
	}
	/* news article */
	.news-item.article {
		width: 85%;
	}
	.article__img {
		width: 70%;
	}
	/* community */
	.community__wrap {
		padding: 30px 20px;
	}
	.community__text {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.splide__pagination__page.splide__pagination--custom {
		width: 18px;
		height: 18px;
	}
	.splide__arrow {
		width: 20px;
		height: 34px;
	}
	.header {
		padding-left: 25px;
		padding-right: 25px;
	}
	.header__logo,
	.header__logo > img {
		width: 64px;
	}
	.burger-container {
		height: 26px;
		width: 36px;
	}
	.hamburger-lines.is-active .line1 {
		transform: rotate(-45deg) translate(0px, 10px);
	}
	.hamburger-lines.is-active .line3 {
		transform: rotate(45deg) translate(-6px, -16px);
	}
	.play-link,
	.play-link > img {
		width: 105px;
	}
	.hero {
		background-size: 130%;
		background-position-y: -140px;
	}
	.hero__btn-container {
		display: flex;
		flex-direction: column;
		margin-top: 80%;
	}
	.hero__btn {
		width: 100%;
	}
	.hero__btn:not(:last-child) {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.hero__btn-img {
		width: 180px;
	}
	.featured-news__heading {
		justify-self: flex-end;
		margin-top: auto;
		margin-bottom: 0;
		font-size: 32px;
	}
	.featured-news__track {
		padding: 10px 20px 0 !important;
	}

	.featured-news__track,
	.featured-news__list {
		width: 95%;
	}
	.featured-news__navigation {
		width: 100%;
	}
	.img-wrap,
	.hero > .featured__item {
		height: 20% !important;
	}
	.featured-item__heading {
		font-size: 22px;
	}
	.promo {
		height: 500px;
		margin-bottom: 50px;
	}
	.promo__video-wrap {
		background-image: url('../images/gold-frame-s1,5x.png');
		background-size: 103%;
		background-position-x: -4px;
	}
	@supports (
		background-image: -webkit-image-set(url('../images/gold-frame-s1,5x.webp')
					1x)
	) {
		.promo__video-wrap {
			background-image: -webkit-image-set(
				url('../images/gold-frame-s1,5x.webp') 1x
			);
		}
	}
	.promo__playbtn {
		width: 66px;
		height: 66px;
	}
	.game-features {
		background-image: none;
	}
	.game-features__track {
		margin-top: 5%;
	}
	.game-features__list {
		transform: translateX(1%);
	}
	.game-features__slide img {
		width: 86vw;
		height: auto !important;
		padding: 30px;
		background-color: #121212;
		border: 5px solid #000;
		border-radius: 19px;
	}
	.game-features__navigation {
		transform: translateY(-120px);
		padding-right: 0;
	}
	.game-features__pagination > li:not(:last-child) {
		margin-right: 10px;
	}
	.game-features__pagination > li > .splide__pagination--custom {
		width: 14px;
		height: 14px;
	}
	.footer {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer-links {
		padding-left: 0;
	}
	.footer-links__item {
		width: 44px;
		height: 44px;
	}
	.footer-links__item:not(:last-child) {
		margin-right: 15px;
	}
	.footer-links__item:last-child {
		margin-right: 0;
	}
	.footer__bottom {
		font-size: 15px;
		line-height: 1.5;
	}
	.footer__copywrite {
		margin-bottom: 30px;
	}
	.policy-links {
		flex-direction: column;
	}
	.policy-links__item:not(:last-of-type) {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.news-wrap {
		padding: 0 30px;
	}
	/* media */
	.gallery {
		grid-template-columns: 1fr;
	}
	.media__top {
		height: 200px;
	}
	.media > .more-btn {
		font-size: 20px;
	}
}
@media screen and (max-width: 450px) {
	.hero {
		height: 580px;
		background-image: url('../images/bg-main-xss.png');
	}
	@supports (
		background-image: -webkit-image-set(url('../images/bg-main-xss.webp') 1x)
	) {
		.hero {
			background-image: -webkit-image-set(url('../images/bg-main-xss.webp') 1x);
		}
	}
	.hero__btn-container {
		margin-top: 95%;
		justify-self: flex-end;
	}
	.featured-news__splide {
		margin-bottom: 150px;
	}
	.featured-news__track {
		margin-top: 25px;
	}
	.featured-item__heading {
		font-size: 20px;
	}
	.featured-news__navigation > .splide__arrows {
		margin-top: 10px;
	}
	.promo {
		height: 350px;
	}
	.promo__playbtn {
		width: 56px;
		height: 56px;
	}
	.game-features {
		height: 550px;
		scroll-behavior: smooth;
	}
	.game-features__navigation {
		transform: translateY(-271px);
	}
	.game-features__arrows.splide__arrows {
		margin-top: -55px;
	}
	.modal__video {
		height: 250px;
	}
	.modal__close-btn {
		width: 50px;
		height: 50px;
		background-size: contain;
	}
	/* news page */
	.filters {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
	.filter-btn {
		font-size: 5vw;
	}
	.filter-btn:not(:nth-child(2)),
	.filter-btn:not(:last-child) {
		margin-right: 15px;
	}
	.filter-btn:nth-child(2),
	.filter-btn:last-child {
		margin-right: 0;
	}
	.news-list {
		width: 100%;
	}
	.news-item__content-wrap {
		padding: 0;
	}
	.news-item__footer {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.news-item__meta {
		font-size: 15px;
	}
	/* news page */
	.filter-btn {
		margin-bottom: 15px;
	}
	.featured__item {
		height: 250px !important;
	}
	/* news article */
	.article-container {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.news-item.article {
		padding: 30px;
		border-radius: 25px;
	}
	.article__heading {
		font-size: 28px;
	}
	.article__text,
	.article__img {
		width: 100%;
	}
	/* community */
	.community__wrap {
		width: 95%;
	}
	.community__text {
		font-size: 16px;
	}
	/* media */
	.media {
		padding: 0 0 50px;
	}
}
@media screen and (max-width: 400px) {
	.promo__playbtn {
		top: 44%;
		left: 50%;
	}
}
@media screen and (max-width: 350px) {
	.game-features__list {
		transform: translateX(0%);
	}
	.game-features__slide img {
		width: 84vw;
	}
	.game-features__pagination {
		margin-left: 20px;
		margin-right: 20px;
	}
	.footer-links {
		flex-wrap: wrap;
	}
	.footer-links__item {
		margin-bottom: 20px;
	}
	.footer-links__item:last-child {
		margin-right: 15px;
	}
}
