@font-face {
	font-family: 'Helvetica Neue';
	src: url(../fonts/HelveticaNeueCyr-Light.woff2),
		url(../fonts/HelveticaNeueCyr-Light.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url(../fonts/HelveticaNeueCyr-Thin.woff2),
		url(../fonts/HelveticaNeueCyr-Thin.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url(../fonts/HelveticaNeueCyr-Bold.woff),
		url(../fonts/HelveticaNeueCyr-Bold.woff.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*,
html,
body {
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	min-height: 100vh;
	overflow: auto;
}
body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #6b6b6b;
	text-align: left;
	background-image: url(../images/banners_february_2021_red.png);
	background-attachment: fixed;
	background-size: cover;
}
.container {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	padding: 0px 10vw 2vw;
	background-color: rgba(255, 255, 255, 0.788);
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.list {
	list-style: none;
}
.policy__block {
	padding: 30px 0;
	border-bottom: 1px dotted #747373;
}
.policy__heading {
	font-size: 24px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 5px;
}
.policy__link {
	text-decoration: none;
	color: #121518;
	border-bottom: 1px solid #747373;
	transition: all 0.2s ease-in-out;
}
.policy__link:hover {
	border-bottom: 1px solid #d6d6d6;
}
.policy__text:not(:last-child) {
	margin-bottom: 15px;
}
.policy__subheading,
.policy__subheading--caps {
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
}
.policy__subheading,
.subheading {
	display: inline-block;
	margin-bottom: 10px;
}
.policy__subheading--caps {
	font-variant: small-caps;
	text-align: center;
}
.list-item,
.wrap {
	position: relative;
	padding-left: 40px;
}
.list-item__heading,
.list-item__subheading,
.policy__subheading--sm {
	font-size: 13px;
	line-height: 19px;
	font-weight: 600;
}
.list-item__heading,
.list-item__text,
.list--standard,
.policy__subheading--sm {
	margin-bottom: 10px;
}

.users::before,
.speaker::before,
.paper::before,
.badge::before,
.user::before,
.envelope::before,
.graphic::before,
.spoilers-item__summary::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 26px;
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}
.users::before {
	background-image: url(../images/policy/users.svg);
}
.speaker::before {
	background-image: url(../images/policy/speaker.svg);
}
.paper::before,
.spoilers-item__summary::before {
	background-image: url(../images/policy/paper.svg);
}
.badge::before {
	background-image: url(../images/policy/badge.svg);
}
.graphic::before {
	background-image: url(../images/policy/graphic.svg);
}
.user::before {
	background-image: url(../images/policy/user.svg);
}
.envelope::before {
	background-image: url(../images/policy/envelope.svg);
}
.list--standard {
	padding-left: 30px;
}
.spoilers {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

details summary::marker details summary::-webkit-details-marker {
	display: none;
}
details > summary {
	list-style: none;
}
.spoilers-item,
.details {
	display: inline-block;
	margin-bottom: 20px;
	border: 1px solid #a8aaab;
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 10%);
}
.spoilers-item {
	width: 75%;
}
.details {
	width: 100%;
}
.spoilers-item__summary,
.details__summary {
	position: relative;
	padding: 12px 20px 12px 45px;
	font-weight: 600;
}
.spoilers-item__summary::after,
.details__summary::after {
	content: '';
	position: absolute;
	right: 10px;
	top: 35%;
	width: 0px;
	height: 0px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #333b43;
	transition: transform 0.2s ease-in-out;
}
.spoilers-item__details[open] .spoilers-item__summary::after,
.details[open] .details__summary::after {
	transform: rotate(-90deg);
}
.spoilers-item__summary::before {
	top: 20%;
	left: 10px;
}
.details__summary::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 10px;
	width: 22px;
	height: 70%;
	background-image: url(../images/policy/bookmark.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.spoilers-item__text-wrap,
.details__text-wrap {
	padding: 16px;
	border-top: 1px dotted #dfdfdf;
	color: #6b6b6b;
}
.spoilers-item__text,
.details__text {
	line-height: 1.3;
	margin-bottom: 10px;
}
.policy__text--sm {
	margin-top: 10px;
	font-size: 12px;
	font-weight: 300;
}
.policy__text--bold {
	font-weight: 600;
	color: #141414;
}

@media all and (max-width: 900px) {
	.container,
	.spoilers-item {
		width: 100%;
	}
	.grid {
		grid-gap: 15px;
	}
	.list-item {
		padding-left: 20px;
	}
	.spoilers {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
	.users::before,
	.speaker::before,
	.paper::before,
	.badge::before,
	.user::before,
	.envelope::before,
	.graphic::before,
	.soilers-item__summary::before {
		width: 16px;
		height: 16px;
	}
}
@media all and (max-width: 450px) {
	.policy__heading {
		font-size: 20px;
	}
}
