@font-face {
	font-family: Behrens; /* Гарнитура шрифта */
	src: url(../../fonts/Behrens.woff2), url(../../fonts/Behrens.woff);
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

ul,
ol {
	list-style: none;
}

html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: Behrens, 'Times New Roman', serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.5;
	color: #f7f6d0;
	text-align: left;
	background-color: #fff;
}

.btn-reset {
	background-color: transparent;
	border: none;
	outline: none;
}

.link-reset {
	text-decoration: none;
}

.wrap {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #000;
}

.logo {
	width: 1.23rem;
	height: 0.62rem;
	background-image: url(../images/Darkest_AFK_logo.png);
	background-repeat: no-repeat;
	background-size: cover;
}

@supports (
	background-image: -webkit-image-set(url(../images/Darkest_AFK_logo.webp) 1x)
) {
	.logo {
		background-image: -webkit-image-set(
			url(../images/Darkest_AFK_logo.webp) 1x
		);
	}
}

.onelink {
	width: 1.35rem;
	height: 0.45rem;
	margin-top: 0.08rem;
	float: right;
	background-image: url(../images/playnow.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.header__burger {
	width: 45px;
	height: 45px;
	background-color: transparent;
	background-image: url(../../images/burger.svg);
	background-size: cover;
	border: none;
	cursor: pointer;
}

.nav {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0%;
	width: 90%;
	height: 200px;
	padding: 30px 5%;
	background-color: #000;
	transition: transform 0.3s ease-in-out;
	transform: translateX(-101%);
}

.nav.is-active {
	transform: none;
}

.nav-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	height: inherit;
	padding: 0;
}

.nav-list__item {
	float: left;
	display: block;
	color: #0000;
}

.nav-list__item:first-child {
	width: 100%;
	margin-bottom: 0;
	text-align: right;
}

.nav__close-btn {
	position: relative;
	width: 26px;
	height: 26px;
	border: none;
	background-color: transparent;
	pointer-events: all;
}

.nav__close-btn::before,
.nav__close-btn::after {
	content: '';
	position: absolute;
	top: 0;
	width: 2px;
	height: 20px;
	background-color: #fff;
	transition: all 0.2s ease-out;
}

.nav__close-btn::before {
	transform: rotate(45deg);
}

.nav__close-btn::after {
	transform: rotate(-45deg);
}

.nav-list__link {
	color: #fff;
	margin: 0 0.05rem;
	font-size: 0.19rem;
}

.conMid {
	width: 100%;
	height: 7rem;
	overflow: hidden;
	position: relative;
}

.swiper-slide {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	transform: translate3d(0, 0, 0);
}

.conMid__img {
	width: 100vw;
}

.conMid .swiper-pagination {
	z-index: 999;
	bottom: 7%;
	line-height: 0;
	font-size: 0;
}
.conMid .swiper-pagination-bullet {
	width: 1.79rem;
	height: 0.04rem;
	font-size: 0;
	line-height: 0;
	background-color: #fff;
	border-radius: unset;
	opacity: 1;
}
.conMid .swiper-pagination-bullet-active {
	background-color: #caac7a;
}

/* .dlbtn_top {
	width: 3.11rem;
	height: 0.8rem;
	display: block;
	left: 50%;
	bottom: 16%;
	transform: translateX(-50%);
	position: absolute;
	z-index: 999;
	line-height: 0;
	font-size: 0;
} */
.dlbtn_top2 {
	width: 3.5rem;
	height: 0.6rem;
	display: block;
	left: 51%;
	bottom: 3%;
	transform: translateX(-50%);
	position: absolute;
	z-index: 999;
	line-height: 0;
	font-size: 0;
}
.playbtn_top {
	width: 1.3rem;
	height: 1.3rem;
	display: block;
	left: 50%;
	top: 37%;
	transform: translateX(-50%);
	position: absolute;
	z-index: 999;
	line-height: 0;
	font-size: 0;
}
.playbtn_top2 {
	width: 1.3rem;
	height: 1.3rem;
	display: block;
	left: 51%;
	top: 53.2%;
	transform: translateX(-50%);
	position: absolute;
	z-index: 999;
	line-height: 0;
	font-size: 0;
}

.section__heading {
	margin-bottom: 20px;
	font-family: Behrens, serif;
	font-size: 3.5vw;
	color: #f7f6d0;
	text-shadow: 0px 0px 5px #cebc85;
}

.hero {
	background-size: cover;
	position: relative;
	width: 100%;
	height: 7.73rem;
	background-image: url(../images/Darkest_AFK_M_cbg_01_m.jpg);
	background-repeat: no-repeat;
}

.wz1 {
	width: 3.78rem;
	position: absolute;
	left: 1.71rem;
	top: 0.45rem;
	animation: fadeInDown 1s 0.2s ease both;
	-moz-animation: fadeInDown 1s 0.2s ease both;
	display: none;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-0.2rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-0.2rem);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@keyframes fadeInDown2 {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-0.2rem) scale(0.8);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0) scale(0.8);
	}
}

@-moz-keyframes fadeInDown2 {
	0% {
		opacity: 0;
		-moz-transform: translateY(-0.2rem) scale(0.8);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0) scale(0.8);
	}
}

.description {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 65%;
	animation: fadeInDown 1s 0.2s ease both;
	-webkit-animation: fadeInDown 1s 0.2s ease both;
	-moz-animation: fadeInDown 1s 0.2s ease both;
}

.description__txt {
	max-width: 85%;
	line-height: 1.8;
	font-size: 2.5vw;
	min-width: 100px;
	animation: fadeInDown 1s 0.7s ease both;
	-webkit-animation: fadeInDown 1s 0.7s ease both;
	-moz-animation: fadeInDown 1s 0.7s ease both;
}

.promo {
	position: relative;
	width: 100%;
	height: 7.05rem;
	padding-top: 30px;
	background-image: url(../images/Darkest_AFK_M_cbg_02_m.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wz2 {
	animation: fadeInLeft 1s 0.2s ease both;
	-moz-animation: fadeInLeft 1s 0.2s ease both;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-0.6rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-0.6rem);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

.promo__heading,
.features__heading,
.footer__heading {
	font-size: 5vw;
}

.promo__heading {
	transform: translateX(30%);
}

.promo__playbtn {
	position: absolute;
	left: 47%;
	top: 36%;
	display: block;
	width: 75px;
	height: 75px;
	padding: 0;
	background-image: url(../images/playbtn.png);
	background-size: 100% 100%;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.promo__playbtn:focus,
.close-btn:focus {
	box-shadow: 5px 0px 15px #ff9654;
}

.features {
	width: 100%;
	height: 90vw;
	padding-top: 20px;
	background-image: url(../images/Darkest_AFK_M_cbg_04_m.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wz4 {
	width: 100%;
	animation: fadeInRight 1s 0.2s ease both;
	-moz-animation: fadeInRight 1s 0.2s ease both;
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(0.6rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(0.6rem);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

.features__heading {
	transform: translateX(35%);
}

.feature {
	position: relative;
	left: 0;
	top: 7vw;
	width: 100%;
}

.feature img {
	width: 100%;
}

.feature__swiper-slide {
	width: 6.15rem;
	opacity: 0.6;
}

.feature .swiper-slide-active {
	opacity: 1;
}

.feature__pagination {
	width: 100%;
	position: absolute;
	bottom: -22%;
	left: 0;
	text-align: center;
	line-height: 0;
}

.swiper-pagination-bullet {
	background-color: #a9a9a9;
	width: 0.2rem;
	height: 0.2rem;
}

.feature .swiper-pagination-bullet:not(:last-child) {
	margin-right: 0.36rem;
}

.swiper-pagination-bullet-active {
	background: linear-gradient(to bottom, #a99d77, #dd433e);
}

/* .part4 {
	width: 100%;
	height: 20rem;
	background-image: url(../images/banners_february_2021_red.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -0.01rem;
	position: relative;
	box-shadow: inset 0px 0px 1rem 1rem rgb(0, 0, 0);
	white-space: nowrap;
}

.part4 h2 {
	font-size: 0.5rem;
	margin-bottom: 30px;
	font-family: 'DIN-Bold';
	font-weight: bold;
	color: white;
	text-align: center;
} */

.playbtn {
	width: 1.04rem;
	width: 1.04rem;
	position: absolute;
	left: 43.7%;
	top: 28%;
	display: block;
}

.playbtn img {
	width: 100%;
}

.wz3 {
	animation: bounceIn 2s 0.2s ease both;
	-moz-animation: bounceIn 2s 0.2s ease both;
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.3);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.01);
	}
	70% {
		-webkit-transform: scale(0.95);
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(0.3);
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1.01);
	}
	70% {
		-moz-transform: scale(0.95);
	}
	100% {
		-moz-transform: scale(1);
	}
}

.p_control {
	width: 2rem;
	position: absolute;
	left: 5.8%;
	top: 18%;
	z-index: 999;
	line-height: 0;
}
.p_control a {
	height: auto;
}
.p_control a img {
	width: 100%;
}
.prev {
	width: 1.32rem;
	display: block;
	float: left;
}
.prev img {
	width: 100%;
}
.next {
	float: right;
}

.footer,
.footer__top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.footer {
	margin: 0 auto;
	background: #000;
	color: #fff;
}

.footer__top {
	padding: 20px 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.footer__heading,
.footer-links {
	margin-bottom: 30px;
}

.footer-links__item {
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.footer-links__item:not(:last-child) {
	margin-right: 30px;
}

.footer-links__link:focus,
.download-btns__link:focus {
	outline: none;
	box-shadow: 3px -3px 15px #a99d77;
}

.footer-links__link {
	display: inline-block;
	width: inherit;
	height: inherit;
	transition: all 0.2s ease-out;
}

.facebook {
	background: url('../images/facebook.png') no-repeat center;
	background-size: 100% 100%;
}

.youtube {
	width: 40px;
	background: url('../images/youtube.png') no-repeat center;
	background-size: 100% 100%;
}

.discord {
	background: url('../images/discord.png') no-repeat center;
	background-size: 100% 100%;
}

.vk {
	background: url('../images/vk_white.png') no-repeat center;
	background-size: 100% 100%;
}

.instagram {
	background: url('../images/instagram.png') no-repeat center;
	background-size: 100% 100%;
}

.discord {
	background: url('../images/discord.png') no-repeat center;
	background-size: 100% 100%;
}

/* .twitter {
	background: url('../images/twitter.png') no-repeat center;
	background-size: 100% 100%;
}

.reddit {
	background: url('../images/reddit-alien.png') no-repeat center;
	background-size: 100% 100%;
} */

.footer__btn {
	border: none;
	cursor: pointer;
}

.download-btns {
	display: flex;
}

.download-btns__item {
	max-width: 250px;
	height: 75px;
	border-radius: 10%;
}

.download-btns__item:not(:last-child) {
	margin-right: 30px;
}

.download-btns__link {
	display: inline-block;
	width: inherit;
	height: inherit;
	transition: all 0.2s ease-out;
}

.download-btns__img {
	width: 250px;
	height: inherit;
	aspect-ratio: auto;
}

.footer__bottom {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	padding: 10px 0;
}

.footer__logo {
	width: 120px;
}

.footer__text-wrap,
.footer__btns-wrap {
	display: flex;
	justify-content: center;
}

.footer__text-wrap {
	flex-direction: column;
}

.footer__text {
	margin-bottom: 20px;
}

.footer__modal-btn {
	background-color: transparent;
	color: #fff;
	transition: all 0.2s ease-out;
}

.footer__modal-btn:not(:last-child) {
	margin-right: 20px;
}

.p_list {
	width: 6.78rem;
	height: 11.28rem;
	overflow: hidden;
	position: absolute;
	left: 4.6%;
	top: -0.6%;
	padding-bottom: 0.01rem;
	z-index: 990;
	line-height: 0;
}
.p_list .swiper-wrapper {
	width: 57%;
	position: relative;
}
.topImg1 {
	position: absolute;
	right: 0;
	top: 0;
	width: 3.39rem;
	display: block;
}
.topImg2 {
	position: absolute;
	left: 0;
	width: 6.78rem;
	top: 3.7522rem;
	display: block;
}
.topImg3 {
	position: absolute;
	left: 0;
	width: 50%;
	bottom: 0;
	display: block;
}
.topImg4 {
	position: absolute;
	left: 50%;
	width: 50%;
	bottom: 0;
	display: block;
}

.popup-con {
	position: absolute;
	display: none;
}

.media-sec {
	border: 0.04rem solid #ff764b;
	width: 7.3rem;
	height: 4.78rem;
	background: #000;
	font-size: 0;
}

.popup .fenxiang-sec {
	width: auto;
	background: #786549;
	font-size: 0;
}

.popup {
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.popup .mask {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.78);
}

.popup-con {
	position: absolute;
	display: none;
}

.media-sec {
	width: 7rem;
	height: 4rem;
	background: #000;
	font-size: 0;
	border-width: 0.3vw;
	border-style: solid;
	border-image: linear-gradient(to bottom, #bf6b38, #dd593d) 1;
}

.close {
	width: 45px;
	height: 45px;
	margin-left: auto;
	padding-bottom: 0.5vw;
}

.close a {
	display: block;
	background: url(../images/closebtn.png) no-repeat 50% 0;
	background-size: cover;
	width: 45px;
	height: 45px;
}

.popup-co {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup .media-sec {
	border: 0.04rem solid #ff764b;
	width: 7.42rem;
	background: #000;
	font-size: 0;
}

@media (max-width: 800px) {
	.feature img {
		max-height: 400px;
	}
}

@media (max-width: 600px) {
	.logo {
		width: 21vw;
		height: 12vw;
	}

	.onelink {
		width: 30vw;
		height: 10vw;
	}

	.nav-list__link {
		font-size: 4vw;
	}

	.description {
		top: 22%;
	}

	.promo__playbtn {
		top: 30%;
	}

	.close,
	.close a {
		width: 35px;
		height: 35px;
	}

	.feature {
		top: 1vw;
	}

	.feature img {
		max-height: 350px;
	}

	.feature__pagination {
		bottom: -10%;
	}

	.feature .swiper-pagination-bullet {
		width: 4vw;
		height: 4vw;
	}

	.download-btns__img {
		width: 40vw;
	}

	.footer__bottom {
		width: 92%;
		padding: 10px 20px;
	}

	.footer__logo {
		width: 100px;
	}

	.footer__text-wrap {
		flex-direction: column;
		justify-content: flex-start;
	}

	.footer__text {
		font-size: 3vw;
	}
}

@media (max-width: 400px) {
	.hero {
		background-image: url(../images/Darkest_AFK_M_cbg_01_sm.jpg);
	}
	@supports (
		background-image: -webkit-image-set(url(../images/Darkest_AFK_M_cbg_01_sm.webp)
					1x)
	) {
		.hero {
			background-image: -webkit-image-set(
				url(../images/Darkest_AFK_M_cbg_01_sm.webp) 1x
			);
		}
	}

	.promo {
		background-image: url(../images/Darkest_AFK_M_cbg_02_sm.jpg);
	}
	@supports (
		background-image: -webkit-image-set(url(../images/Darkest_AFK_M_cbg_02_sm.webp)
					1x)
	) {
		.promo {
			background-image: -webkit-image-set(
				url(../images/Darkest_AFK_M_cbg_02_sm.webp) 1x
			);
		}
	}

	.features {
		background-image: url(../images/Darkest_AFK_M_cbg_04_sm.jpg);
	}
	@supports (
		background-image: -webkit-image-set(url(../images/Darkest_AFK_M_cbg_04_sm.webp)
					1x)
	) {
		.features {
			background-image: -webkit-image-set(
				url(../images/Darkest_AFK_M_cbg_04_sm.webp) 1x
			);
		}
	}

	.header__burger {
		width: 40px;
		height: 40px;
	}

	.section__heading {
		margin-bottom: 15px;
	}

	.footer-links__item:not(:last-child) {
		margin-right: 15px;
	}

	.footer__bottom {
		justify-content: center;
		padding: 16px 0;
	}

	.footer__logo {
		display: none;
	}

	.footer__text {
		margin-bottom: 16px;
		font-size: 4vw;
	}

	.footer__btns-wrap {
		flex-direction: column;
	}

	.footer__modal-btn:not(:last-child) {
		margin-right: 0;
		margin-bottom: 16px;
	}
	.feature {
		top: 0.5vw;
	}
}
